@import //
'variables.scss',
'fonts/pretendard.scss',
'includes/reset.scss'
;

:target {
  background-color: yellow;
}

html,
body {
  height: 100%;
}

body {
  transition: margin .25s,
    padding .25s,
    font-size .25s;

  background-color: #555;

  text-align: justify;
  font-family: var(--font-family-base);
  font-size: 1.25em;
  line-height: 1.6;
  color: black;

  @media screen and (max-width: 900px) {
    font-size: 1.1em;
  }

  @media screen and (max-width: 786px) {
    font-size: 1em;
  }
}

main {
  max-width: 1024px;
  min-height: 100%;
  background-color: white;
}

header {
  padding: 2rem 4rem;
  background-color: black;
  color: white;

  h1 {
    margin: 0;

    font-weight: 900;
    font-size: 3em;
    line-height: 1.2;
    text-decoration: none;
    word-break: keep-all;

    @media screen and (max-width: 1024px) {
      & {
        font-size: 3em;
      }
    }

    @media screen and (max-width: 786px) {
      & {
        font-size: 2em;
      }
    }
  }

  ul {
    // header 태그에서 여백 잡아주므로 필요 없음
    margin: 0;
    margin-top: 1em;

    list-style: none;
    text-align: right;

    li[aria-label]::before {
      font-weight: 900;
      content: attr(aria-label);
    }
  }
}

@import './components/heading.scss';

@import './components/text.scss';

@import './components/list.scss';

@import './components/code.scss';

hr {
  margin: 3rem 0;
  border: 0;
  text-align: center;

  &::after {
    letter-spacing: .25em;
    font-weight: bold;
    font-size: 1.5em;
    color: gray;
    content: '***';
  }
}