:root {
  --font-family-base: 'Pretendard', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-code: 'D2Coding ligature', 'D2Coding', monospace;

  --page-outer-padding: 4rem;
  --page-inner-padding: 2rem;
}

@media screen and (max-width: 1024px) {
  :root {
    --page-outer-padding: 2rem;
  }
}

@media screen and (max-width: 786px) {
  :root {
    --page-outer-padding: 1rem;
    --page-inner-padding: 2rem;
  }
}