{{ $dateFormat := "2006-01-02 15:04:05 MST" }}

<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $scss := resources.Get "assets/stylesheets/main.scss" }}
  {{ $style := $scss | resources.ToCSS | resources.Minify }}

  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body>
  <main>
    <header>
      <h1>{{ .Title }}</h1>
      <ul>

        {{/* Git 커밋으로부터 작성자 이름 가져오기 */}}
        {{ if and (.GitInfo) (ne .GitInfo.AuthorName "") }}
        <li aria-label="작성자">
          <a href="{{ .GitInfo.AuthorEmail }}">
            {{ .GitInfo.AuthorName }}
            </span>
        </li>
        {{ end }}

        <li aria-label="작성">
          <time class="created-at" datetime="{{ .Date }}">{{ .Date.Format $dateFormat }}</time>
        </li>

        {{/* 마지막으로 커밋(수정)된 날짜가 작성 날짜와 일치하지 않는다면 */}}
        {{ if and (.GitInfo) (ne .Date .Lastmod) }}
        <li aria-label="수정">
          <a href="https://github.com/toriato/toriato.github.io/commit/{{ .GitInfo.Hash }}">
            <time class="modified-at" datetime="{{ .Lastmod }}">{{ .Lastmod.Format $dateFormat }}</time>
          </a>
        </li>
        {{ end }}
      </ul>
    </header>

    {{ block "main" . }}{{ end }}
  </main>

  {{ $js := resources.Get "assets/javascripts/main.js" }}
  {{ $script := $js | js.Build "assets/javascripts/main.js" }}
  <script src="{{ $script.RelPermalink }}" defer></script>
</body>

</html>