h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem var(--page-outer-padding);
  font-weight: bold;
  text-decoration: underline solid black 6px;

  &::before {
    font-size: .8em;
  }

  &.no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.no-decoration {
    text-decoration: inherit;
  }

  >a {
    text-decoration: none;
    font-size: .75em;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  text-decoration-thickness: 5px;
}

h3 {
  font-size: 1.5em;
  text-decoration-thickness: 4px;
}

h4 {
  font-size: 1.3em;
  text-decoration-thickness: 3px;
}

h5 {
  font-size: 1.15em;
  text-decoration-thickness: 2px;
}

h6 {
  font-size: 1em;
  text-decoration-thickness: 1px;
}