ul,
ol {
  margin: 1em var(--page-outer-padding);

  // 하위 목록에선 상하 여백 사용하지 않기
  ul &,
  ol & {
    margin: 0;
  }

  // 목록 아이템 좌측에 여백 추가하기
  li {
    margin-left: 2em;

    // 문단에 기본으로 존재하는 여백 제거하기
    p {
      margin-left: 0;
    }

    // 여러 문단일 때 첫 문단 상단 여백 제거하기
    p:first-child {
      margin-top: 0;
    }

    // 문단 하나만 존재하거나 하위 목록이 존재하면 여백 제거하기
    p:only-child,
    ul+p,
    ol+p {
      margin: 0;
    }
  }

  // 하위 목록에 커서 올릴 시 좌측에 윤곽선 표시하기
  @mixin list-hover-helper($color: #DDD, $thick: .2em) {

    // 목록 아이템 하위의 ul 또는 ol 선택자
    li & {

      // 현재 요소 내에서 :hover 선택자를 추가해야 불필요한 재귀 선택자가 생성되지 않음
      &:hover {
        box-shadow: inset $thick 0 $color;

        // 해당 블록 하단까지 감싸기
        // box-shadow: inset $thick $thick * -1 $color;

        // border-left 를 사용하면 내용 위치가 변경됨
        // 투명 윤곽선을 미리 만들어두거나 좌측 여백을 윤곽선 두깨만큼 빼줘야함
        // margin-left: -$thick;
        // border-left: $thick solid $color;
      }

      // 윤곽선이 완전 검정색이 아니라면 재귀하여 하위 목록에 대한 색상 지정하기
      @if $color !=black {
        @include list-hover-helper(darken($color, 10%), $thick);
      }
    }
  }

  @include list-hover-helper();
}

// 순서 없는 목록(ul)에 대한 마커 모양
ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;

    ul {
      list-style-type: square;
    }
  }
}

// 순서 있는 목록(ol)에 대한 마커 모양
ol {
  list-style-type: decimal;

  &.nested {
    ol {
      list-style-type: lower-roman;

      ol {
        list-style-type: upper-roman;

        ol {
          list-style-type: lower-alpha;

          ol {
            list-style-type: upper-alpha;
          }
        }
      }
    }
  }
}