p {
  margin: 1rem var(--page-outer-padding);
  vertical-align: middle;
}

a {
  &.footnote-ref {
    vertical-align: super;
    text-decoration: none;
    font-size: .75em;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}