<script src="https://giscus.app/client.js"
        data-repo="toriato/toriato.github.io"
        data-repo-id="R_kgDOImQTZA"
        data-category="Comments"
        data-category-id="DIC_kwDOImQTZM4CTBY2"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>